<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47779593525-54fdi4ai62p6fm6bdma9cr623kmjbgk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47779593525-54fdi4ai62p6fm6bdma9cr623kmjbgk2</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ8cAUgDeXJR8gWHuI4wX5_LWlydkwSTU</string>
	<key>GCM_SENDER_ID</key>
	<string>47779593525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cengizhantomak.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-cbd3a</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-cbd3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47779593525:ios:8c2a4e9a6add791186e07c</string>
</dict>
</plist>